<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Asset</title>
    <link rel="stylesheet" href="asset.css">
</head>

<body>
    <main>
        <form action="/add-asset" method="post">
            <div class="form-group">
                <label for="Asset_Code">Asset Code</label>
                <input id="Asset_Code" type="text" name="Asset_Code" placeholder="Enter Asset Code" required>
            </div>

            <div class="form-group">
                <label for="Asset_Status">Asset Status</label>
                <input id="Asset_Status" type="text" name="Asset_Status" placeholder="Enter Asset Status" required>
            </div>

            <div class="form-group">
                <label for="Unit_Name">Unit Name</label>
                <input id="Unit_Name" type="text" name="Unit_Name" placeholder="Enter Unit Name" required>
            </div>

            <div class="form-group">
                <label for="SAP_FA_Id">SAP FA Id</label>
                <input id="SAP_FA_Id" type="text" name="SAP_FA_Id" placeholder="Enter SAP FA Id" required>
            </div>

            <div class="form-group">
                <label for="Device_Type">Device Type</label>
                <input id="Device_Type" type="text" name="Device_Type" placeholder="Enter Device Type" required>
            </div>

            <div class="form-group">
                <label for="Department">Department</label>
                <input id="Department" type="text" name="Department" placeholder="Enter Department" required>
            </div>

            <div class="form-group">
                <label for="Designation">Designation</label>
                <input id="Designation" type="text" name="Designation" placeholder="Enter Designation" required>
            </div>

            <div class="form-group">
                <label for="User_Name">User Name</label>
                <input id="User_Name" type="text" name="User_Name" placeholder="Enter User Name" required>
            </div>

            <div class="form-group">
                <label for="Mail_Id">Mail Id</label>
                <input id="Mail_Id" type="email" name="Mail_Id" placeholder="Enter Mail ID" required>
            </div>

            <div class="form-group">
                <label for="Location">Location</label>
                <input id="Location" type="text" name="Location" placeholder="Enter Location" required>
            </div>

            <div class="form-group">
                <label for="Device_Make">Device Make</label>
                <input id="Device_Make" type="text" name="Device_Make" placeholder="Enter Device Make" required>
            </div>

            <div class="form-group">
                <label for="Device_Model">Device Model</label>
                <input id="Device_Model" type="text" name="Device_Model" placeholder="Enter Device Model" required>
            </div>

            <div class="form-group">
                <label for="Device_SN">Device S/N</label>
                <input id="Device_SN" type="text" name="Device_SN" placeholder="Enter Device Serial Number" required>
            </div>

            <div class="form-group">
                <label for="Processor">Processor</label>
                <input id="Processor" type="text" name="Processor" placeholder="Enter Processor" required>
            </div>

            <div class="form-group">
                <label for="RAM">RAM</label>
                <input id="RAM" type="text" name="RAM" placeholder="Enter RAM Size" required>
            </div>

            <div class="form-group">
                <label for="HDD">HDD</label>
                <input id="HDD" type="text" name="HDD" placeholder="Enter HDD Size" required>
            </div>

            <div class="form-group">
                <label for="SDD">SDD</label>
                <input id="SDD" type="text" name="SDD" placeholder="Enter SDD Size" required>
            </div>

            <div class="form-group">
                <label for="OS_Name_and_Version">OS Name and Version</label>
                <input id="OS_Name_and_Version" type="text" name="OS_Name_and_Version" placeholder="Enter OS Name and Version" required>
            </div>

            <div class="form-group">
                <label for="PO_No">PO No</label>
                <input id="PO_No" type="text" name="PO_No" placeholder="Enter PO Number" required>
            </div>

            <div class="form-group">
                <label for="PO_Date">PO Date</label>
                <input id="PO_Date" type="date" name="PO_Date" placeholder="Enter PO Date" required>
            </div>

            <div class="form-group">
                <label for="Warranty_end_date">Warranty End Date</label>
                <input id="Warranty_end_date" type="date" name="Warranty_end_date" placeholder="Enter Warranty End Date" required>
            </div>

            <div class="new1">
                <button type="submit">Submit</button>
            </div>
        </form>
    </main>
</body>

</html>
