body {
    background-color: #dd2476;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    width: 100%;
    max-width: 1200px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.full-width {
    grid-column: span 3;
}

.new1 {
    display: flex;
    justify-content: center;
    grid-column: span 3;
}

button {
    background-color: #ff512f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

@media (max-width: 900px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .full-width {
        grid-column: span 2;
    }

    .new1 {
        grid-column: span 2;
    }
}

@media (max-width: 600px) {
    form {
        grid-template-columns: 1fr;
    }

    .full-width {
        grid-column: span 1;
    }

    .new1 {
        grid-column: span 1;
    }
}